/* LocationForm.css */
.location-form {
    margin-bottom: 20px;
  }
  
  /* WeatherCard.css */
  .weather-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .weather-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  